<div class="page-header">
    <%= link_to 'Back', collection_path(@collection), class: "btn btn-default pull-right" %>

    <h1>
        <%= @collection.title %>
    </h1>
</div>

<div class="alert alert-info">
    Here are the labels you've selected for exchange. If everything is correct fill in the form at the bottom to make an exchange request.
</div>

<div class="items" id="cart-items-list">
    <% @items.each do |item| %>
        <%= render :partial => "items/item", :locals => {:item => item} %>
    <% end %>
</div>

<%= form_with scope: :swap, url: collection_cart_path(@collection), local: true do |form| %>
    <% if @swap.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
            <h4>
                <%= pluralize(@swap.errors.count, "error") %> prohibited
                this collection from being saved:
            </h4>
            <ul>
                <% @swap.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div style="width: 600px; margin: 15px auto;">
        <div class="alert alert-warning">
            Labels for exchange: <b><%= @items.count %></b>
        </div>


        <div class="form-group">
            <%= form.label :name, 'Your name' %><br>
            <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= form.label :email, 'E-Mail' %><br>
            <%= form.text_field :email, value: current_user.nil? ? '' : current_user.email, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= form.label :message %><br>
            <%= form.text_area :message, class: "form-control" %>
        </div>

        <p>
            <%= form.submit 'Send', class: "btn btn-success" %>
        </p>
    </div>
<% end %>