<%= form_with model: [ @collection, @category ], local: true do |form| %>

    <% if @category.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
            <h4>
                <%= pluralize(@category.errors.count, "error") %> prohibited
                this collection from being saved:
            </h4>
            <ul>
                <% @category.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= form.label :title %><br>
        <%= form.text_field :title, class: "form-control" %>
    </div>

    <p>
        <%= form.submit class: "btn btn-success" %>
    </p>

<% end %>